.itemCart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.itemCart img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.itemCart p{
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
}

.itemCart button{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    margin: 5px;
}

.itemCart button:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 875px){
    .itemCart{
        flex-direction: column;
    }

    .itemCart img{
        max-width: 100%;
        max-height: 100%;
    }

    .itemCart p{
        font-size: 16px;
        padding: 5px;
    }

    .itemCart button{
        font-size: 16px;
        padding: 5px;
    }
}
