.item-detail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    text-align:center;
    color: #fafafa;
}

h2{
    color: #fafafa;
}

.item-detail img {
    width: 100%;
}

.item-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fafafa;
    padding: 10rem;
}
