.item-container {
  display: flex;
  padding: 60px;
}
.item-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
  margin: auto;
}

@media screen and (max-width: 1240px) {
  .item-container {
    flex-direction: column;
  }
  .item-image {
    width: 100%;
    height: 100%;
  }
  .item-detail {
    width: 100%;
    padding-top: 20px;
  }
}
