.cartImage {
  height: 2rem;
  width: 2rem;
}

.logo-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-brand img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 10px;
}

.product-hover:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown-item-hover:hover {
  color: white !important;
}